@using ConsulService.Models
@model Transaction
@{
    ViewData["Title"] = "Transaction";
}
<form asp-action="ChangeTransaction" asp-controller="Home">
    <h2>Transaction</h2>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <h3>This is transaction with id=@Model.Id with currency @Model.Currency.Name, which has rate of @Model.Currency.Rate compared to USD</h3>
    <h4>Currency id (change it to edit): <input type="number" asp-for="Currency.Id" value="@Model.Currency.Id" /></h4>
    <h4>Information about its category:</h4>
    @if (Model.Category.IsCredit)
    {
        <h3>This is CREDIT!</h3>
    }
    else
    {
        <h3>This is debit!</h3>
    }
    <h4>Category id (change it to edit): <input type="number" asp-for="Category.Id" value="@Model.Category.Id" /></h4>
    <h4>Name of category: @Model.Category.Name</h4>
    <h4>It has a limit of @Model.Category.Limit</h4>
    <h3>Value of this transaction is: <input type="text" pattern="[0-9]+([,][0-9]{1,2})?" asp-for="Value" value="@Model.Value" /></h3>
    <h4>Comments on transaction: <input type="text" asp-for="Comment" value="@Model.Comment" /></h4>
    <input type="submit" value="Save" class="btn" />
</form>